@model NoteArchive.Models.Note

<h1>@Model.Title</h1>

<h3>@Model.Author</h3>

<div class="row">

@foreach (var image in Model.Images)
{
    <div class="col-md-4 mb-4">

        <img src="@image.ImagePath"
             class="img-fluid rounded" />

    </div>
}

<a asp-action="DownloadImages"
   asp-route-id="@Model.ID"
   class="btn btn-success">
    Download
</a>

</div>